        body{margin:0;
             padding:0;
             background-color:rgb(7,7,39);}  
        .table1{width:100%;
              height:70px;} 
        .tr1{width:100%;
             height:70px;}  
             .tab1-1{width:20%;
                     height:70px;
                     display:flex;
                     align-items:center;}
                 .tab1-1>h1{color:white;}    
              .tab1-2>a{text-decoration:none;
                        color:white;}       
             .img1{width:50px;
                   height:50px;}
        .table2{width:90%;
                height:500px;
                background-color:rgb(7,7,39);} 
            .table2-1{width:60%;
                      height:500px;}
                .text2-1{color:white;}  
            .table2-2{width:40%;
                      height:500px;}
                    .img2{width:100%;
                          height:500px;} 
                    .text2-2{color:white;}               
        .table3{width:100%;
                height:50px;}  
            .text3-1{color:white;}    
        .table4{width:90%;
                height:500px;} 
             .table4-1{width:40%;
                       height:500px;}
                    .img4{width:100%;
                          height:500px;}  
             .table4-2{width:7%;}              
             .table4-3{width:53%;
                       height:500px;}   
                    .text4{color:orange;}   
                    .text4-1{color:white;}  
                    .text4-2{color:orange}
                    .text4-3{color:white;}  
        .table5{width:90%;
                height:300px;}
              .tab5-1{width:22%;
                      height:300px;}  
                    .img5-1{width:100%;
                          height:250px;}
              .tab5-2{width:22%;
                     height:300px}
                    .img5-2{width:100%;
                            height:250px;} 
              .tab5-3{width:22%;
                      height:300px} 
                      .img5-3{width:100%;
                              height:250px;}
              .tab5-4{width:22%;
                      height:300px}   
                      .img5-4{width:100%;
                             height:250px;}  
                    .text5-1{color:white;}  
                    .text5-2{color:orange;}
                    .text5-3{color:white;}               
        .table6{width:90%;
                height:400px;}
            .tab6-1{width:30%;
                    height:400px;}
                .img6-1{width:100%;
                        height:300px;}
            .tab6-2{width:30%;
                    height:400px;}
                .img6-2{width:100%;
                        height:300px;}
            .tab6-3{width:30%;
                    height:400px;}
                .img6-3{width:100%;
                        height:300px;}
                    .text6-1{color: white;}    
                            
        .table7{width:100%;
                height:300px;
                background-color:rgb(126, 6, 126);}
              .table7-1{width:40%;
                        height:300px;}
               .table7-2{width:35%;
                         height:300px;} 
                    .ul7{list-style:none;
                         color:white;
                         display:flex;
                         justify-content:space-evenly;
                         width:35%;}         
                 .img7{width:50px;
                       height:50px;} 
               .table7-3{width:25%;
                         height:300px;}    
                    .text7-1{color:orange;}
                    .text7-2{color:white;}                                                            